body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ded3d3;
    color: #fff;
    padding: 10px 0;
}

.logo-company {
    height: 50px;
    width: 50px;
    background-image: url('../asset/logo.jpeg');
    background-size: cover;
    border-radius: 50%;
}



