body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C7B8B;
    color:black;
    padding: 10px;
}


.parent-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

/* ngatur logo */
.logo-company {  
    height: 50px;
    width: 50px;
    background-image: url('../asset/logo.jpeg');
    background-size: cover;
    border-radius: 50%;
}

nav {
    display:flex;
}

nav a{
    border: 1px solid;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;

}

.no-border-radius{
    border-radius: 0px;
}

.no-border-radius-right {
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
    
}

.no-border-radius-left {
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
}

.content-container {
    display:flex;
    justify-content:space-between;
    gap: 50px; /* Nambah gap  */
}



/* banner autoslide */
.main-content {
    display: flex;
    border: 2px solid;
    height: 400px;
    flex: 1;

}

/* form contact us */
.main-container {
    border:2px solid;
    height: 500px;
    flex: 1;
    width: 30px;
}

.main-content, .main-container {
    width: 30px;
}

.slider {
    position: relative;
    width: 100%;
    height: 400px; /* tinggi */
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s ease;
    width: 300%; /* lebar slide */
}

.slides img {
    width: 35%;
    height: 100%;
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    font-size: 2 rem;
    color:honeydew;
    background-color: black; 
    padding: 10px;
    cursor: pointer;
    user-select:none;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}